<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medistore APIs</title>
</head>

<body>
  <h1> APIS</h1>

  <a href="{url 'profile'}">
    <p><b> Profiles API</b>: https://medistore-apis.herokuapp.com/api/profile/</p>
  </a>
  <p><b>All Suppliers API</b> : https://medistore-apis.herokuapp.com/api/supplier/</p>
  <p><b>All Medicines API</b> : https://medistore-apis.herokuapp.com/api/medicine/</p>
  <p><b>All Donations API</b> : https://medistore-apis.herokuapp.com/api/donation/</p>
  <p><b>All Purchases API</b> : https://medistore-apis.herokuapp.com/api/purchase/</p>
  <p><b>All Prescriptions API</b>: https://medistore-apis.herokuapp.com/api/prescription/</p>
</body>

</html>