<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medistore APIs</title>
</head>

<body>
  <h1> APIS</h1>


  <p><b> Profiles API</b>:<a href="/api/profile/"> https://medistore-apis.herokuapp.com/api/profile/</p>
  </a>

  <p><b>All Suppliers API</b> :<a href="/api/supplier/"> https://medistore-apis.herokuapp.com/api/supplier/</p>
  </a>
  <p><b>All Medicines API</b> :<a href="/api/medicines/"> https://medistore-apis.herokuapp.com/api/medicines/</p></a>
  <p><b>All Medicines by id</b> :<a href="/api/medicine-id/<id>"> https://medistore-apis.herokuapp.com/api/medicine-id/
      <id>
  </p></a>
  <p><b>All Medicines by disease API</b> :<a href="/api/medicine/<disease>">
      https://medistore-apis.herokuapp.com/api/medicine/<disease>
  </p></a>
  <p><b>All Donations API</b> : <a href="/api/donation/">https://medistore-apis.herokuapp.com/api/donation/</p></a>
  <p><b>All Purchases API</b> : <a href="/api/purchase/">https://medistore-apis.herokuapp.com/api/purchase/</p></a>
  <p><b>All Prescriptions API</b>: <a href="/api/prescription/">
      < https://medistore-apis.herokuapp.com/api/prescription/</p>
    </a>
  <p><b>All Diseases API</b>: <a href="/api/disease/">
      < https://medistore-apis.herokuapp.com/api/disease/</p>
    </a>
  <p><b>All Units by medicine</b>: <a href="/api/mediunits/<id>">https://medistore-apis.herokuapp.com/api/mediunits/<id>
  </p>
  <p><b>All Units</b>: <a href="/api/mediunits/">https://medistore-apis.herokuapp.comapi/mediunits/
  </p>
  <p><b>All calculation_units</b>: <a
      href="/api/calculation_units/">https://medistore-apis.herokuapp.com/api/calculation_units/
  </p>

  <p><b>last calculation_units</b>: <a
      href="/api/calculation_units_latest/">https://medistore-apis.herokuapp.com/api/calculation_units_latest/
  </p>
  </a>

  <a href="/prescription/1">Test</a>
</body>

</html>