<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medistore APIs</title>
</head>

<body>
  <h1> APIS</h1>

  <p><b> Profiles API</b>: api/profile/</p></span>
  <p><b>All Suppliers API</b> :api/supplier/</p>
  <p><b>All Medicines API</b> :api/medicine/</p>
  <p><b>All Donations API</b> :api/donation/</p>
  <p><b>All Purchases API</b> :api/purchase/</p>
  <p><b>All Prescriptions API</b>: api/prescription/</p>
</body>

</html>