{% extends 'form_pages/base.html' %} {%load static%}{% load django_bootstrap5%}

{% block content %}
{{block.super}}



<div class="container shell ">
  <section class="text-section">
    <div class="text-body">

      <h2>Kindly Upload your prescription</h2>
      <h3>Process</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, eum ipsa! Odio ratione, voluptas impedit
        voluptate temporibus adipisci doloremque sapiente iure similique. Quisquam provident eos eius et eligendi
        est dolore iste assumenda. Dignissimos facere obcaecati deleniti corrupti commodi reiciendis maxime?</p>
      <h3>Why do we ask for prescriptions</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, eum ipsa! Odio ratione, voluptas impedit
        voluptate temporibus adipisci doloremque sapiente iure similique. Quisquam provident eos eius et eligendi
        est dolore iste assumenda. Dignissimos facere obcaecati deleniti corrupti commodi reiciendis maxime?</p>

    </div>

    <a style="color: rgb(47, 47, 47);" href="http://localhost:4200/medicines"></a> <button class="btn">Return To
      medicines</button></a>

  </section>
  <section class="get-in-touch">
    <h1 class="title">Thank you for Uploading your prescription</h1>
    <form action="{%url 'medicine_upload'%}" method="post" class="contact-form row" enctype="multipart/form-data">
      {%csrf_token%}

      {% bootstrap_form form%}
      <input type="submit" class="btn" style="width: 100px;" value="Post">
    </form>


  </section>
</div>

<style>
  .text-section {
    display: grid;
    place-content: center;
  }

  .get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  }

  .get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #ffc60a;
    background: #ffc60a;
    background: -moz-linear-gradient(left, #f4524d 0%, #ffc60a 100%) !important;
    background: -webkit-linear-gradient(left,
        #f4524d 0%,
        #ffc60a 100%) !important;
    background: linear-gradient(to right, #f4524d 0%, #ffc60a 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }

  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #ffc60a;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }

  .contact-form .input-text:focus {
    outline: none;
  }

  .contact-form .input-text:focus+.label,
  .contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
  }

  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #ffc60a;
    cursor: text;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }

  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #f4524d, #ffc60a);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
  }

  .shell {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
  }

  .text-body {
    margin-top: 50px;
    color: #ffc60a;
    background: #ffc60a;
    background: -moz-linear-gradient(left, #f4524d 0%, #ffc60a 100%) !important;
    background: -webkit-linear-gradient(left,
        #f4524d 0%,
        #ffc60a 100%) !important;
    background: linear-gradient(to right, #f4524d 0%, #ffc60a 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

  .btn {
    margin: 10px;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #1c1b1bd6;
    border-radius: 0;
    border: 2px solid #fdbe33;
    box-shadow: inset 0 0 0 0 #fdbe33;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
  }

  .btn:hover {
    color: #20212b;
    box-shadow: inset 0 0 0 30px #fdbe33;
  }

  .btn:focus,
  .form-control:focus {
    box-shadow: none;
  }
</style>

{% endblock %}